﻿@model MegaWeb.Models.Levantamento

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<h4>Levantamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPavimento" class="control-label"></label>
                <select asp-for="IdPavimento" class="form-control" asp-items="ViewBag.IdPavimento"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdBloco" class="control-label"></label>
                <select asp-for="IdBloco" class="form-control" asp-items="ViewBag.IdBloco"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdLuminaria" class="control-label"></label>
                <select asp-for="IdLuminaria" class="form-control" asp-items="ViewBag.IdLuminaria"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.IdEstado"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsConcluido" /> @Html.DisplayNameFor(model => model.IsConcluido)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
