﻿@model MegaWeb.Models.Levantamento

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este item?</h3>
<div>
    <h4>Levantamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsConcluido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsConcluido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBlocoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBlocoNavigation.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdLuminariaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdLuminariaNavigation.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPavimentoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPavimentoNavigation.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para Lista</a>
    </form>
</div>
