﻿@model IEnumerable<MegaWeb.Models.Levantamento>

@{
    ViewData["Title"] = "Levantamentos";
}

<h2>Levantamentos</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBlocoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLuminariaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPavimentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConcluido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBlocoNavigation.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLuminariaNavigation.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPavimentoNavigation.Descricao)
                </td>
                <td>
                    @if (item.Imagem != null)
                    {
                        var base64 = Convert.ToBase64String(item.Imagem);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img src="@imgSrc"  width="350px"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsConcluido)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
